:root{
    --white: #FFFFFF;
    --black: #212529;
    --orange: #ff8800;
    --yellow: #ffdd00;
    --red: #c1121f;
    --border-card: #f8f9fa;
    --box-shadow-card: #e9ecef;
    --color-text: #343a40;
    --font-weight-title: 900;
    --font-size-title: 52px;
    --line-height-title: 58px;
    --font-weight-paragraph: 400;
    --font-size-paragrap: 20px;
    --line-height-paragrap: 32px;
    --font-weight-item: 700;
    --font-size-item: 18px;
    --line-height-item: 20px;
    --font-weight-sub-item: 400;
    --font-size-sub-item: 16px;

    // Colores de los botones  ==> Website901
    --btn-contact-send: #ff8800;

    // Border de los botones ==> Website901
    --btn-border: 5px;

    //Tipografia de botones ==> Website901
    --btn-font-weigth: 400;
    --btn-font-size: 22px;
    --btn-line-heigth: 24px;

    // Colores de header ==> Website901
    --header-background: #ff8800;

    // Border de header ==> Website901
    --header-border: 5px;

    // Tipografia de header ==> Website901
    --header-font-weigth: 900;
    --header-font-size: 52px;
    --header-line-heigth: 58px;
}