@import "vars";
.header-category{
    display: flex;
    place-content: center;
}

.header-category > h5 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.flex-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.item-flex-category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item-flex-category{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 3px 3px 3px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }
}

.item-column-category > span {
    display: flex;
    place-content: center;
}

.item-column-category > span{
    font-style: normal;
    font-weight:600;
    font-size: 1rem;
    line-height: 2rem;
}

.item-category-link{
    margin: auto;
}

.btn-views{
    text-decoration: none;
    width: 5rem;
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-views{
    font-style: italic;
    font-weight: var(--btn-font-weigth);
    font-size: 1rem;
    line-height: 2rem;
}

.btn-search{
    width: 3rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
}

.content-search-category{
    display: flex;
    gap: 20px;
    place-content: center;
}

.content-search-category > input {
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 640px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 667px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 844px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 851px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 915px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}