@import "vars";
.header-category{
    display: flex;
    place-content: center;
}

.header-category > h5 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.flex-category{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.item-flex-category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item-flex-category{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 3px 3px 3px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }
}

.item-column-category > span {
    display: flex;
    place-content: center;
}

.item-column-category > span{
    font-style: normal;
    font-weight: var(--font-weight-item);
    font-size: var(--font-size-item);
    line-height: var(--line-height-item);
}

.item-category-link{
    margin: auto;
}

.btn-views{
    text-decoration: none;
    width: 5rem;
    background: linear-gradient(to left, var(--orange), var(--rubbish));
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-views{
    font-style: italic;
    font-weight: var(--btn-font-weigth);
    font-size: 18px;
    line-height: 20px;
}

.btn-search{
    width: 3rem;
    background:linear-gradient(to right,var(--orange), var(--red));
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.content-search-category{
    display: flex;
    gap: 20px;
    place-content: center;
}

.content-search-category > input {
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 640px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 667px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 844px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 851px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 915px){
    .flex-category{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}