@import "vars";
.card-data-basic{
    background-color: var(--color-card);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;
}

.card-data-basic > h4 {
    display: flex;
    place-content: center;
}

.card-data-basic > h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}

.flex-data-basic{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-data-basic{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-data-basic > label{
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.btn-buy {
    margin: auto;
}

.btn-buy{
    width: 7rem;
    background-color: var((--orange));
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 12px;
}

.btn-buy{
    font-style: normal;
    font-weight: var(--btn-font-weigth);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}