@import "vars";
*{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #212529;
}

.navbar{
    position: fixed;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(#fbfbf2, #ffffff);
}

.navbar-item{
    li::before{
        transform: scaleX(0);
        transform-origin: bottom right;
    }

    &:hover{
        border-radius: 5px;
        box-shadow: 0 4px 0 0 #ff8800;
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    li:hover::before{
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    li::before{
        content: "";
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        inset: 0 0 0 0;
        z-index: -1;
        transition: transform .3s ease;
    }
}

.item-header-rigth{
    margin-left: 850px;

    @media screen and (max-width: 640px){
        margin-left: 0;
    }

    @media screen and (max-width: 896px){
        margin-left: 0;
    }

    @media screen and (max-width: 915px){
        margin-left: 0;
    }

    @media screen and (max-width: 1180px){
        margin-left: 0;
    }
}

.flex-item-navbar{
    display: flex;
    flex-direction: row;
}

.header-shopping-bag{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
}

.header-shopping-bag > span {
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.header-shopping-bag > span {
    margin-top: 10px;
    margin-left: -10px;
}

.dropdown-menu{
    padding: 10px;
}

.btn-profile-header{
    background-color: var(--white);
    border: none;
}

.card-dropdown{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover {
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}

.card-dropdown{
    position: absolute;
    margin-left: -50px;
}

.list-group-item{
    padding: 10px;
}

.list-group-item > li {
    font-style: italic;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.header-profile{
    text-decoration: none;
    background-color: #00b4d8;
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 7px;
}