@import "vars";
*{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #212529;
}

.navbar{
    position: fixed;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(#fbfbf2, #ffffff);
}

.item-header-rigth{
    margin-left: 850px;

    @media screen and (max-width: 640px){
        margin-left: 0;
    }

    @media screen and (max-width: 896px){
        margin-left: 0;
    }

    @media screen and (max-width: 915px){
        margin-left: 0;
    }

    @media screen and (max-width: 1180px){
        margin-left: 0;
    }
}

.flex-item-navbar{
    display: flex;
    flex-direction: row;
}

.header-shopping-bag{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
}

.header-shopping-bag > span {
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.header-shopping-bag > span {
    margin-top: 10px;
    margin-left: -10px;
}

.dropdown-menu{
    padding: 10px;
}

.btn-profile-header{
    background-color: var(--white);
    border: none;
}

.card-dropdown{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover {
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}

.card-dropdown{
    position: absolute;
    margin-left: -50px;
}

.list-group-item{
    padding: 10px;
}

.list-group-item > li {
    font-style: italic;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.header-profile{
    text-decoration: none;
    background-color: #00b4d8;
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.navbar-item-list{

    &:hover{
        background-color: #ffd000;
        border-radius: 5px;
        border: none;
        animation-duration: 0.5s;
        animation-delay: 0s;
        transition: 1s;
        transition-timing-function: ease-in;
    }
}

.link-header-sign-in{
    &:hover{
        background-color: #ff758f;
        color: var(--white);
        border-radius: 5px;
        border: none;
        animation-duration: 0.5s;
        animation-delay: 0s;
        transition: 1s;
        transition-timing-function: ease-in-out;
    }
}