@import "vars";

.main{
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

.content-video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 414px){
        display: none;
    }

    @media screen and (max-width: 667px){
        display: none;
    }
}


.content-video > h1{
    font-weight: 900;
    font-size: 2rem;
    line-height: 2rem;
    color: white;

    @media screen and (max-width: 414px){
        color: #212529;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.content-video > p{
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    color: white;

    @media screen and (max-width: 414px){
        font-weight: 600;
        font-size: 1rem;
        line-height: 2rem;
        color: #212529;
        text-align: start;
    }
}

.link-know{
    background-image: linear-gradient( 106.9deg,  rgba(148,14,60,1) 60.9%, rgba(3,22,27,1) 122.3% );
    color: var(--white);
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}

.link-know{
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
}

// .overlay{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     // background-color: rgba(0,0,0,.5);
// }