@import "vars";
.grid-know{
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 420px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 896px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 915px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 1180px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.grid-values{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-rows: minmax(100px, auto);

    @media screen and (max-width: 420px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 667px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 896px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 915px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.item-know {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-know{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}


.card-know > h4 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.card-know > h5{
    color: #780000;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
}

.card-know > p {
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
    color: var(--black);
    text-align: justify;
}

.card-know > span{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.title-values{
    display: flex;
    place-content: center;
}

.title-values{
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}
