@import "vars";

.header-know{
    background: linear-gradient(#ff8800, #ff9500);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.header-know > h3 {
    font-style: normal;
    font-weight: var(--header-font-weigth);
    font-size: var(--header-font-size);
    line-height: var(--header-line-heigth);
    color: var(--white);
    text-align: center;
}

.flex-know-content{
    display: flex;
    flex-direction: row;
    order: 3;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-know-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card-know{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}


.card-know > h4 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    color: var(--orange);
}

.card-know > p {
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
    color: var(--black);
    text-align: justify;
}