@import "vars";

.Ordering{
    padding: 20px;
}

.card-orders{
    width: 25rem;
    background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% );
    border-radius: 1rem;
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 2rem;

    &:hover{
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}

.card-orders > h4{
    font-weight: 600;
    font-size: 0.3rem;
    line-height: 1rem;
}

.card-orders > span {
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.body-card-orders{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-orders{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    gap: 20px;
}

.btn-detail{
    width: 8.2rem;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    border-radius: 0.8rem;
    border: none;
    padding: 0.2rem;
}

.btn-detail{
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
}

.display-process-status{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-process-status{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.status-buy{
    width: 1px;
    height: 60%;
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    border-radius: 1rem;
    padding: 10px;
}

.content-list-ordering{
    width: 100%;
    background: linear-gradient(to left, #f8f9fa, #e9ecef);
    border-radius: 2rem;
    border: 2px solid var(--border-card);
    padding: 2rem;
}

.list-status-buy{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.list-status-buy li {
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}

.status-road > span{
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}

.status-raod > p {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}

.content-item-ordering{
    display: flex;
    place-content: center;
}

.content-item-ordering > h4{
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 2rem;
}