@import "vars";
.Payment-contenct{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;
}


.Payment-contenct > h3 {
    display: flex;
    place-content: center;
}

.Payment-contenct > h3 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.Payment-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    place-content: center;
}

.Payment-element {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.Payment-contenct > span{
    font-style: normal;
    font-weight: var( --font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.table{
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    border-radius: 0.8rem;
}

.font-table > th{
    font-style: normal;
    font-weight: var(--font-weight-item);
    font-size: var(--font-size-item);
    line-height: var(-line-height-item);
}

.font-tbody > th {
    font-style: normal;
    font-weight: var(--font-weight-sub-item);
    font-size: var(--font-size-sub-item);
    line-height: 18px;
}

.Payment-element > span {
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.btn-payment{
    width: 7rem;
    background-image: linear-gradient(to left, var(--orange), var(--rubbish));
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
}

.btn-payment{
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}