@import "vars";

.card-pqrs{
    background-color: var(--color-card);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 4px 4px 4px var(--box-shadow-card);
    }
}

.content-header-pqrs{
    padding: 10px;
}

.content-header-pqrs > span{
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}

.content-header-pqrs > h4{
    color: #212529;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
}

.content-header-pqrs > p {
    color: #343a40;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
}

.grid-pqrs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-template-rows: minmax(100px, auto);

    @media screen and (max-width: 420px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 844px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 851px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 915px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @media screen and (max-width: 1180px){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.item-pqrs{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.btn-pqrs{
    display: flex;
    margin: auto;
}

.btn-pqrs{
    width: 7rem;
    background: linear-gradient(to right, var(--orange), var(--rubbish));
    border-radius: 5px;
    border: none;
    padding: 7px;
    place-content: center;
}

.btn-pqrs{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}