@import "vars";

@import "vars";

.content-pqrs{
    padding: 1rem;
}

.content-pqrs > h4{
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.content-pqrs > h5{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.content-pqrs > p{
    font-weight: 500;
    color: #181818;
    font-size: 1rem;
}

.flex-pqrs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group-pqrs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group-pqrs{
    border: 2px solid #D8D9CF;
    padding: 1rem;
}

.form-group-pqrs > label{
    font-weight: 700;
}

.btn-send{
    display: flex;
    margin: auto;
}

.btn-send{
    place-content: center;
}