@import "vars";
.Products-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-template-rows: minmax(100px,auto);
}

.Products-item{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid  var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}

.Product-item-info{
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
}

.header-product{
    display: flex;
    place-content: center;
}

.header-product > h4 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.title-product-item{
    font-style: normal;
    font-weight: var(--font-weight-item);
    font-size: var(--font-size-item);
    line-height: var(--line-height-item);
}

.sub-title-product-item{
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(-- --font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.sub-price-product-item{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.flex-product-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btn-buy-product{
    width: 2rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 7px;
}

.btn-buy-product{
    font-style: normal;
    font-weight: var(--btn-font-weigth);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}

.btn-add-product{
    width: 2rem;
    background-color: var(--yellow);
    color: var(--black);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.field-search{
    display: flex;
    gap: 20px;
    place-content: center;
}

.field-search > input {
    width: 50%;
    text-align: center;
}

.btn-search-product{
    width: 3rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

@media screen and (max-width: 640px){
    .Products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 667px){
    .Products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 896px){
    .Products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

@media screen and (max-width: 915px){
    .Products-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}