@import "vars";
.content-product{
    display: flex;
    place-content: center;
}

.content-product > h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
}

.content-list-product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-template-rows: minmax(100px, auto);
}

.card-list-card{
    background: var(--white);
    border-radius: 8px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 20px;
}

.card-list-card {
    list-style: none;
}

.title-list-products{
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
}

.price-list-products{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.description-list-products{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.flex-item-button{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: center;
}

.btn-cart{
    background: linear-gradient(to right, var(--orange), var(--rubbish));
    border-radius: 8px;
    border: none;
    padding: 10px;
}

.btn-cart{
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}

.btn-delete-product{
    background: linear-gradient(to right, #c1121f, #780000);
    color: var(--white);
    border-radius: 8px;
    border: none;
    padding: 8px;
}