@import "vars";
.flex-purchase{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-purchase{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card-purchase{
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;
}

.card-purchase > img {
    display: flex;
    place-content: center;
}

.card-purchase > h4{
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.card-purchase > span {
    font-style: italic;
    font-weight: var(--font-weight-item);
    font-size: var(--font-size-item);
    line-height: var(--line-height-item);
}

.card-purchase > p {
    font-style: normal;
    font-weight: var(--font-weight-sub-item);
    font-size: var(--font-size-sub-item);
    line-height: 24px;
}