@import "vars";
.title-shopping-cart{
    font-style: normal;
    font-weight: 800;
    font-size: 2rem;
    line-height: 4rem;
}

.table{
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 2px solid #e9ecef;
    box-shadow: 4px 4px 4px #dee2e6;
}

.btn-delete-cart{
    background: linear-gradient(to left, #c1121f, #780000);
    color: var(--white);
    border-radius: 5px;
    border: none;
}

.table-header-cart{
    background: linear-gradient(to left, #edf2fb, #d7e3fc);
}

.table-header-cart > th{
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}

.table-body-cart{
    background: linear-gradient(to right,#d7e3fc, #edf2fb);
    border-radius: 8px;
    padding: 10px;
}

.content-total-orders{
    padding: 10px;
    margin: 10px;
}

.content-total-orders > h4{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.table-body-cart > th {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}

.btn-to-end{
    background: linear-gradient(to left, var(--orange), var(--rubbish));
    color: var(--white);
    border-radius: 8px;
    border: none;
    padding: 0.7rem;
}

.btn-to-end{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}