@import "vars";

.flex-sibebar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-sibebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-sibebar{
    background: linear-gradient(to left, var(--white), var(--color-card));
    border-radius: 2rem;
    border: 4px solid var(--border-card);
    box-shadow: 8px 8px 8px var(--border-card);
    padding: 1rem;
}

.sibebar-list-sibebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-list-sibebar{
    list-style: none;
}

.btn-sibebar{
    background-color: transparent;
    border-radius: 1rem;
    border: none;
}

.btn-sibebar{
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
}