@import "vars";

.flex-sibebar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.item-sibebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-sibebar{
    background-image: linear-gradient( 95.2deg,  rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    border-radius: 1rem;
    border:none;
    padding: 1rem;
}

.sibebar-list-sibebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item-list-sibebar{
    list-style: none;
}

.btn-sibebar{
    background-color: transparent;
    border-radius: 1rem;
    border: none;
}

.btn-sibebar{
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
}