@import "vars";

.sibebar{
    width: 12rem;
    height: 53vh;
    position: absolute;
    background-image: linear-gradient( 95.2deg,  rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    border-radius: 1rem;
    border: 2px #f1faee;
    box-shadow: 4px 4px 4px #f1faee;
}

.sibebar{
    margin-top: 120px;
    margin-left: 120px;
    animation-duration: 2s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.content-sibebar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-items: center;
    padding: 2rem;
}

.sibebar-list-sibebar{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.item-list-sibebar{
    list-style: none;
}

.btn-sibebar{
    background: transparent;
    border: none;
    color: #212529;
    font-weight: 900;
    font-size: 1rem;
    line-height: 2.5rem;

    &:hover{
        background-color: #e9ecef;
        color: #212529;
        border-radius: 0.5rem;
        padding: 0.5rem;
        animation-duration: 2s;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
    }
}