@import "vars";
.card-sign-in{
    width: 40rem;
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 3px 3px 3px var(--box-shadow-card);
    padding: 10px;
    animation: card_motion;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }

    @keyframes card_motion {
        0%, 7%{
                transform: rotateZ(0);
            }
            15%{
                transform: rotateZ(-5deg);
            }
            20%{
                transform: rotateZ(-5deg);
            }
            30%{
                transform: rotateZ(4deg);
            }
            35%{
                transform: rotateZ(-2deg);
            }
            40%, 100%{
                transform: rotateZ(0);
            }
    }
}

.card-sign-in{
    margin: auto;
}

.header-sign-in{
    background: linear-gradient(var(--orange), var(--rubbish));
    border-radius: 5px 20px 5px 20px;
    padding: 10px;
    animation-duration: 0.5s;
    animation-delay: 2s;
    animation-name: rotate_header_sing_in;

    @keyframes rotate_header_sing_in {
        0%, 20%{
            transform: rotateX(40deg);
        }
        40%{
            transform: rotateY(40deg);
        }
        60%{
            transform: rotateX(20deg);
        }
        80%{
            transform: rotateY(20deg);
        }
        100%{
            transform: rotateZ(10deg);
        }
    }
}

.header-sign-in > h4{
    display: flex;
    place-content: center;
}

.header-sign-in > h4{
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.field-text{
    animation: motion 2s linear;
    animation-duration: 1.2s;

    @keyframes motion {
        0%{
            width: 0%;
            margin: auto;
        }
        100%{
            width: 100%;
        }
    }
}

.flex-sign-in{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-sign-in{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.item-sign-in > label{
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.btn-sign-in {
    margin: auto;
}

.btn-sign-in{
    width: 10rem;
    background: linear-gradient(var(--orange), var( --rubbish));
    // color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-sign-in{
    font-style: normal;
    font-weight: var(--btn-font-weigth);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}

.link-sign-in{
    margin: auto;
}

.link-sign-in{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;

    &:hover{
        background: linear-gradient(#a4133c, #a4133c);
        color: var(--white);
        border-radius: 5px;
        padding: 7px;
        animation: hover_link;
        animation-duration: 0.5s;
        animation-delay: 0s;
        transition: 2s;
        transition-timing-function: ease-in;
    }
}

.link-sign-in{
    text-decoration: none;
}