@import "vars";
.card-sign-in{
    width: 40rem;
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 3px 3px 3px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }
}

.card-sign-in{
    margin: auto;
}


.header-sign-in > h4{
    display: flex;
    place-content: center;
}

.header-sign-in > h4 {
    font-family: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.item-sign-in{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.item-sign-in > label{
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
}

.btn-sign-in {
    margin: auto;
}

.btn-sign-in{
    width: 10rem;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-sign-in{
    font-style: normal;
    font-weight: var(--btn-font-weigth);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}

.link-sign-in{
    margin: auto;
}

.link-sign-in{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
}

.link-sign-in{
    text-decoration: none;
}