@import "vars";
.card-sign-up{
    margin: auto;
}

.card-sign-up{
    width: 40rem;
    background-color: var(--white);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }
}

.header-sign-in{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-header {
    display: flex;
    margin: auto;
}

.item-header > h5 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var( --line-height-title);
}

.item-header > span {
    font-style: italic;
    font-weight: var(--font-weight-item);
    font-size: var(--font-size-item);
    line-height: var(--line-height-item);
    color: #343A40;
}

.item-sign-in{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

.item-sign-in > label {
    font-style: normal;
    font-weight: var(--font-weight-paragraph);
    font-size: var(--font-size-paragrap);
    line-height: var(--line-height-paragrap);
}

.btn-sign-up{
    margin: auto;
}

.btn-google{
    margin: auto;
}

.btn-sign-up{
    width: 10rem;
    background: linear-gradient(var(--orange), var(--rubbish));
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-sign-up{
    font-style: normal;
    font-weight: var(--btn-font-weigth);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}