@import "vars";
.card-sign-up{
    margin: auto;
}

.card-sign-up{
    width: 40rem;
    background-color: var(--color-card);
    border-radius: 1rem;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 6px 6px 6px var(--box-shadow-card);
    }

    @media screen and (max-width: 375px){
        width: 100%;
    }

    @media screen and (max-width: 667px){
        width: 100%;
    }

    @media screen and (max-width: 896px){
        width: 100%;
    }

    @media screen and (max-width: 915px){
        width: 100%;
    }
}

.header-sign-up{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.flex-sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.item-header {
    display: flex;
    margin: auto;
}

.item-header > h5 {
    font-style: normal;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
}

.item-header > span {
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
    color: #343A40;
}

.item-sign-in{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
}

.btn-sign-up{
    margin: auto;
}

.btn-google{
    margin: auto;
}

.btn-sign-up{
    width: 10rem;
    background: linear-gradient(to right,var(--orange), var(--rubbish));
    border-radius: 5px;
    border: none;
    padding: 10px;
}

.btn-sign-up{
    font-style: normal;
    font-weight: 800;
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-heigth);
}

.text-gradient{
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.text-gradient:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,var(--orange), var(--red));
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}