@import "vars";

.field-text{
    animation: motion 2s linear;
    animation-duration: 1.2s;

    @keyframes motion {
        0%{
            width: 0%;
            margin: auto;
        }
        100%{
            width: 100%;
        }
    }
}


.text-gradient{
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

.text-gradient:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,var(--orange), var(--red));
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.field-text{
    background-color: var(--white);
    color: #212529;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 2px var(--box-shadow-card);
    padding: 7px;
}

.flex-sign-in{
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 360px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width:375px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 720px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width:640px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 667px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 1280px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.item-sign-in{
    display: flex;
    flex-direction: column;
    gap: 0;
}

.item-sign-in > h4{
    font-weight: 900;
    font-size: 1rem;
    line-height: 2rem;
}

.item-sign-in > h5{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}

.item-sign-in > span {
    font-weight: 600;
    font-size: 1rem;
    line-height: 2rem;
}

.item-sign-in > p {
    font-weight: 600;
    font-size: 0.8rem;
    line-height: 1rem;
}

.row-item{
    display: flex;
    flex-direction: row;
    gap: 20px;

    @media screen and (max-width: 360px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 375px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 720px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 640px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 667px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    @media screen and (max-width: 1280px){
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group{
    border-radius: 0.5rem;
    border: 2px solid #dee2e6;
    padding: 1rem;
}

.form-group > label{
    font-weight: 700;
    font-size: 1rem;
    line-height: 2rem;
}

.font-label-sign{
    font-size: 1rem;
}

.form-register{
    position: relative;
    top: 0;
}

.form-register > h4{
    font-weight: 900;
    font-size: 1rem;
}