@import "vars";

.header-solution > h5{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
}

.header-solution > span{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.Header > p {
    display: flex;
    place-content: center;
}

.Header > p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.header-solution > img {
    width: 2080px;
    height: 600px;
}

.Header{
    background: #E45017;
    border-radius: 5px;
    border: none;
    padding: 20px;
    animation: text_toggle 2s linear;
    animation-duration: 1.2s;

    @keyframes text_toggle {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }
}

.Header > p {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.Header h5{
    display: flex;
    place-content: center;
}

.Header > h5{
    color: #001d3d;
    font-weight: 800;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
}

.grid-solution{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.item-solution{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.content-soluction{
    margin: 20px;
}

.content-soluction > h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.content-soluction > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.cover-img > img {
    width: 35rem;
    height: 20rem;
}

.grid-soluction{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    @media screen and (max-width: 375px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    @media screen and (max-width: 896px){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}

.item-solution{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
}

.animation-img{
    animation: walk_down 2s linear;
    transition-duration: .2s;

    @keyframes walk_down {
        0%{
            transform: rotateY(10deg);
        }
        10%{
            transform: rotateX(10deg);
        }
        30%{
            transform: rotateY(10deg);
        }
        50%{
            transform: rotateX(5deg);
        }
        80%{
            transform: rotateY(10deg);
        }
        100%{
            transform: rotateX(20deg);
        }
    }
}