@import "vars";

.card-success{
    background-color: var(--color-card);
    border-radius: 5px;
    border: 2px solid var(--border-card);
    box-shadow: 4px 4px 4px var(--box-shadow-card);
    padding: 10px;

    &:hover{
        box-shadow: 8px 8px 8px var(--box-shadow-card);
    }
}

.card-success{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.card-success > p{
    display: flex;
    margin: auto;
}

.card-success > h4 {
    font-style: normal;
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    margin: auto;
}

.card-success > span {
    color: #374955;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.flex-success{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.item-success{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.btn-profile{
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    text-decoration: none;
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;
}

.btn-profile{
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}

.btn-invoice{
    background-image: linear-gradient( 109.6deg,  rgba(45,116,213,1) 11.2%, rgba(121,137,212,1) 91.2% );
    text-decoration: none;
    color: var(--white);
    border-radius: 0.5rem;
    border: none;
    padding: 0.3rem;
}

.btn-invoice{
    font-weight: 800;
    font-size: 1rem;
    line-height: 2rem;
}