.btn-whatsapp{
    background: linear-gradient(to left, #57cc99, #80ed99);
    width: 65px;
    height: 65px;
    --moz-border-radous: 50%;
    --webkit-border-radius: 50%;
    border-radius: 50%;
    border: none;
    margin: 20px;
    position: fixed;
}

.btn-whatsapp{
    top: 870px;
}

.font-whatsapp{
    font-size: 40px;
}