@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

*{
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:24px;
    color: #212529;
}